# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Virtual envs
venv/
.env/
.venv/

# Data
data/raw/
data/processed/
data/cache/
data/tmp/
backtests/results/
lightning_logs/

# Models / checkpoints
models/
*.pt
*.pth
*.bin
*.onnx

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/