# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Virtual envs
venv/
.env/
.venv/

# Data
data/
lightning_logs/
experimental/

# Models / checkpoints
models/
*.pt
*.pth
*.bin
*.onnx

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/